#container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

#launch_img {
  position: absolute;
  height: 100%;
  width: 100%;
}

#fs_btn {
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 70px;
  width: 150px;
  z-index: 1000;
  background: transparent;
  border: transparent;
}
